
 /* Navbar container */

.navbar {
background: linear-gradient(to right, #0f3d2e, #1f6f54);
padding: 15px;
display: flex;
align-items: center;
justify-content: space-between;
color: white;
padding:10px 20px;
}

/* Logo */

.logo {
font-size: 18px;
font-weight: bold;
width:50px;
height:50px;
color:white;
background-color:drak green circle;
display:flex;
align-item:center;
border-radius:50%;
left:20px;
top:15px;
}

/* Search box */

.search-box {
width: 40%;
padding: 8px;
border-radius: 20px;
border: none;
}

/* Nav links container */

.nav-links {
list-style: none;
display: flex;
gap: 15px;
}

/* Links */

.nav-links a {
color: white;
text-decoration: none;
padding: 10px;
}

/* Hover effect */

.nav-links a:hover {
background-color: rgb(61, 57, 57);
border-radius: 5px;
}

/*FOOTER*/
 footer{
     display: block;
     clear: both;
     background-color: #06280a;
     text-align: center;
     padding: 25px;
     color:#FFFFFF;
}
